venv
/classification
/__pycache__
/classification_logs
/test
/train
/xBD
/model/checkpoints
!/checkpoints/ckpt_epoch401.pt
/model/baseline_trial
!/model/baseline_trial/damage_classifier_model-01-0.41.keras
/spacenet/src/models/__pycache__
spacenet/models/logs/
/model/__pycache__/
/model/logs/
/spacenet/inference/__pycache__/
.venv
spacenet/src/models/cuda_12.6.0_560.28.03_linux.run
